name: checkout_flutter_bridge
description: A Flutter plugin for integrating Checkout.com payment gateway with support for card tokenization and Google Pay.
version: 0.1.0
homepage: https://github.com/muhammadrashadomar/checkout_flutter_bridge

environment:
  sdk: ^3.0.0
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.checkout.flutter
        pluginClass: CheckoutFlutterBridgePlugin
      ios:
        pluginClass: CheckoutFlutterBridgePlugin
